@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap');

:root {
  font-family: 'Sono', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'MONO' 1;
  font-size: 1.25rem;
  line-height: 3rem;
  background-color: #2a2d2c;
  color: #bcc0cc;
}

* {
  margin: 0;
  padding: 0;
}

#app {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  margin: 1.25rem 0;
  white-space: pre-line;
}
